Source: eos-keyring
Priority: extra
Section: misc
Maintainer: Endless Maintainers <maintainers@endlessm.com>
Build-Depends: debhelper (>= 10), gnupg, openssl <!nocheck>
Standards-Version: 3.9.3

Package: eos-keyring
Priority: important
Architecture: all
Depends: ca-certificates, gpgv, libnss3-tools, openssl, ${misc:Depends}
Recommends: gnupg
Description: GnuPG keys for EOS
 This package contains signing keys for EOS including ostree updates,
 apt repos and any other deliverables.
 .
 A copy of the Endless SSL CA certificate is included. The
 endless-ca-trust-system and endless-ca-trust-user scripts can be used
 for manually trusting it at the system and user levels.

Package: eos-image-keyring
Provides: eos-dev-keyring
Conflicts: eos-dev-keyring
Replaces: eos-dev-keyring
Architecture: all
Depends: gpgv, ${misc:Depends}
Recommends: gnupg
Description: GnuPG keys for EOS developrs
 This package contains the EOS image signing keys. It was previously
 named eos-dev-keyring.

Package: eos-infra-keyring
Architecture: all
Depends: gpgv, ${misc:Depends}
Recommends: gnupg
Description: GnuPG keys for Endless infrastucture repository
 This package contains the Endless infrastructure repository signing
 key. It's only useful on Endless servers.

Package: endless-ca-cert
Architecture: all
# Newer dpkg required for activate-noawait support per deb-triggers(5)
Pre-Depends: dpkg (>= 1.16.1)
Depends: ca-certificates, eos-keyring (= ${binary:Version}), ${misc:Depends}
Enhances: ca-certificates
Description: Endless CA root certificate
 This package contains the root certificate for the Endless SSL
 certificate authority (CA). This CA provides SSL certificates for
 internal Endless services.
 .
 Installing this package will add it to the system's trusted certificate
 authorities. You may need to run "dpkg-reconfigure ca-certificates" to
 enable endless/endless-ca.crt if you've previously installed and
 removed this package. You will also need to run endless-ca-trust-user
 to add the certificate to the user's NSS database for chromium and
 chrome. The /etc/profile.d/endless-ca-trust-user.sh profile script does
 this automatically at login.
