Source: eos-keyring
Priority: extra
Section: utils
Maintainer: Endless Maintainers <maintainers@endlessm.com>
Build-Depends: debhelper (>= 8), gnupg
Standards-Version: 3.9.3

Package: eos-keyring
Architecture: all
Depends: gpgv, ${misc:Depends}
Recommends: gnupg
Description: GnuPG keys for EOS
  This package contains signing keys for EOS including ostree updates, apt repos
  and any other deliverables

Package: eos-dev-keyring
Architecture: all
Depends: gpgv, ${misc:Depends}
Recommends: gnupg
Description: GnuPG keys for EOS developrs
  This package contains signing keys useful to EOS developers, including
  the image signing keys.
